/*--GERAL--*/

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:#EEEEEE;
    font-family: 'Source Sans Pro', sans-serif;
    
}

/*PRIMEIRA PAGINA*/
.primeira-pagina{
    color:#FFFFFF;
    text-transform:uppercase;
    display:none;
}
.primeira-pagina h1{
    margin-bottom:10%;
    line-height: 170%;;
    font-size:2.5rem;
    text-shadow: 1px 2px black;
}
.primeira-pagina h2{
    font-size:x-small;
}

header{
    background-image:url(../imagens/digital%20nomad.jpg);
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
}

.primeira-pagina div{
    padding:20px;
    margin-right:4rem;
}

.primeira-pagina button{
    padding:4px 10px;
    border:none;
    border-radius:2px;
    color:black;
    margin-top: 2rem;
    letter-spacing:0.2rem;
    box-shadow:1px 1px 3px black
}

.primeira-pagina button:hover{
    background-color:#B8860B;
    color:white;
    transition: color 0.5s, background 0.5s;
}

/*--SEGUNDA PAGINA--*/
.segunda-pagina{
    display:none;
    font-size:0.9rem;
    padding:1rem;
   
}

.segunda-pagina p::first-letter{
    font-size:5rem;
    float:left;
    padding:0.5rem;
}

/*--TERCEIRA PAGINA--*/
.terceira-pagina{
    /*display:none;*/
    padding:1rem;
    text-align:center;
    
}

.tab-bar ul li{
    display:inline;
    font-weight:bolder;
    text-transform: uppercase;
   
}

.tab-bar .cancel{
    float:right;
}

.tab-bar ul{
    text-align:center;
    padding:1rem;
}

.comentario{
    display:flex;
    flex-direction: column;
    
}

.comentario img{
    width:87px;
    border-radius:50%;
    background-color:white;
    text-align:center;
}

/*--FOOTER--*/
footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-transform:uppercase;
    padding:10px;
    position:fixed;
    left:0;
    bottom:0;
    width:100vw;
    background-color:white;
    display:none;
}

footer .pontos{
    color:grey;
}